{% extends 'main/base.html' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-md-9 column">
            <h3>{{ post.name }}</h3>
            <p style="margin-top: 10px;">{{ post.content }}</p>
            <div id="comment" style="border: 1px dotted #6495ed ;position: relative;width: 100%;padding: 8px;">
        <table style="padding: 5px;">
            {% for comment in comments %}
                <tr><td width="20%">{{ forloop.counter }}.</td><td>{{ comment.author }}说：</td><td>{{ comment.content }}</td></tr>
            {% endfor %}
        </table>
        <div id="comment-form">
            <form action="/comment/" method="post">
                {% csrf_token %}
                <span>您的名字:</span><input type="text" name="author" size="50"><br/>
                <input type="hidden" name="post_id" value="{{ post.id }}"/>
                <textarea name="content" cols="50" rows="5"></textarea><br/>
                <input type="submit" style="width: 35px;height: 25px;" value="评论" title="评论" >
            </form>
        </div>
    </div>
        </div>
        <div class="col-md-3 column">
            
        </div>
    </div>
{% endblock %}
        
